{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="col">
      <h1 class="post-header">{{ post.header }}</h1>
      <h4 class="post-signature">{{ post.signature }} &bull; {{ post.published.strftime('%d-%m-%Y') }}</h4>
      <p class="post-body">{{ post.body }}</p>
      {% if post.path in session and session[post.path] == post.path %}
        <p><a class="btn btn-primary" href="/{{ post.path }}/edit">Редактировать</a></p>
      {% endif %}
    </div>
  </div>
{% endblock %}